<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cell.header</key>
	<dict>
		<key>textLabel.color</key>
		<string>#808080</string>
		<key>textLabel.font</key>
		<string>body</string>
	</dict>
	<key>cell.footer</key>
	<dict>
		<key>textLabel.color</key>
		<string>#808080</string>
		<key>textLabel.font</key>
		<string>subheadline</string>
	</dict>
	<key>cell.input</key>
	<dict>
		<key>selectionStyle</key>
		<string>none</string>
		<key>layoutMarginTop</key>
		<string>12</string>
		<key>layoutMarginBottom</key>
		<string>12</string>
	</dict>
</dict>
</plist>
