<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>label.hello</key>
	<dict>
		<key>font</key>
		<string>headline</string>
		<key>textAlignment</key>
		<string>center</string>
	</dict>
	<key>label.from</key>
	<dict>
		<key>font</key>
		<string>body</string>
		<key>textAlignment</key>
		<string>center</string>
	</dict>
</dict>
</plist>
