<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cell.header</key>
	<dict>
		<key>textLabel.font</key>
		<string>System 14</string>
		<key>textLabel.textColor</key>
		<string>#808080</string>
	</dict>
</dict>
</plist>
